/* CSS cho các bảng khác không phải bảng phân tích kĩ thuật */
.custom-table .ant-table {
  width: 100%;
  height: 100%;
  background-color: #000000 !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-tbody>tr>td {
  color: white;
}

.custom-table .ant-table-tbody>tr:hover>td {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-thead>tr>td {
  background: transparent !important;
  color: #B3B3B3 !important;
  transition: background-color 0.3s;
}

.custom-table .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: transparent !important;
}

.custom-table .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: transparent !important;
}

.custom-table td.ant-table-column-sort {
  background: #161616 !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-tbody>tr>td {
  background-color: transparent !important;
  border: none !important;
}

.custom-table .ant-table-thead>tr>th:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-table .ant-table-column-sorters:hover::after {
  display: none !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-tbody>tr>td {
  padding: 0px !important;
}